.root {
  position: relative;
}

.label {
  position: absolute;
  top: var(--mantine-spacing-sm);
  left: var(--mantine-spacing-md);
  z-index: 1;
  font-size: var(--mantine-font-size-md);
  pointer-events: none;
  transition: transform 0.1s linear, color 0.1s linear, font-size 0.1s linear;

  &[data-float] {
    font-size: var(--mantine-font-size-xs);
    color: var(--mantine-color-indigo-4);
    transform: translate(
      calc(var(--mantine-spacing-xs) * -1),
      calc(var(--mantine-spacing-sm) * -1)
    );
  }
}

.input {
  height: rem(48px);
  padding-top: var(--mantine-spacing-md);
  padding-left: var(--mantine-spacing-sm);
  font-size: var(--mantine-font-size-md);
  &::placeholder {
    color: transparent;
  }

  &[data-float] {
    &::placeholder {
      color: initial;
    }
  }

  &[data-expanded] {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
}

.dropdown {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  border-top: 0;
}

.groupLabel {
  font-size: var(--mantine-font-size-md);
}
